[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pytest = "*"
coverage = "*"
flake8 = "*"
black = "*"
yapf = "*"
python-gitlab = "*"
twine = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.7"
